@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

@import "../../node_modules/bulma/sass/utilities/initial-variables.sass";

$family-sans-serif: "Oswald", sans-serif;
$blue: #80ADBE;
$primary: $blue;
$info: $cyan;

@import "../../node_modules/bulma/bulma.sass";
