.footer
    .is-footer-column
        text-align center

        strong 
            color white

        a:hover
            color white

        .social-links
            font-size 2rem

            a
                padding 5px
                color white
                
            a:hover
                color #80ADBE


    @media (min-width 768px)
        .is-footer-column:not(:last-of-type)
            border-right 3px solid white
