.navbar.merged
    background transparent
    border-bottom none
    margin-bottom 0
    position absolute
    z-index 1
    width 100%

    .navbar-item, .navbar-link
        color white

    .navbar-link.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, a.navbar-item.is-active, a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover,
.navbar-item.has-dropdown.is-active .navbar-link, .navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link {
	background: rgba(0, 0, 0, 0.4);
}