.question
    text-align center
    padding-bottom 10px

.columns
    padding-top 20px

    .answer-choice
        text-align center
        cursor pointer
        padding 20px
        border-radius 4px
        background-color hsl(0, 0%, 96%)

    .answer-choice:hover
        background-color hsl(0, 0%, 71%)